html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
  background: #F2F2F2;
  font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Varela Round', sans-serif;
}

p {
  color: #707070;
}

a, a:focus, a:hover {
	color: #235A9F;
	outline: none;
	text-decoration: none;
}

.img-responsive {
  margin: 0 0 1em;
}

.btn {
  border-radius: 2px;
}
